* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3325; 
    padding: 20px;
    height: 80px;
}
.header h1 {
    color: white;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.icon img{
    max-width: 100%;
    width: 60px;
    border-radius: 60%;
}

.carrosel {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.carrosel h1 {
    font-size: 2rem;
    padding: 15px;
    margin: 20px;
    color: black;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: start;

}

.CardAll {
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: #fff;
    width: 400px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 30px;
    justify-content: space-between;
    
}

.card img {
    width:100%;
    height: 250px;
    border-radius: 10px;
}

.card h3 {
    font-size: 1.2rem;
    color: black;
}
.card h2 {
    font-size: 1.5rem;
}

.card p {
    font-size: 1.0rem;
    color: #555;
    text-decoration: line-through;
}

button{
    height: 50px;
    width: 370px;
    padding: 10px;
    
}
.star{
    padding: 10px;
}




